.form {
margin: 10px auto;
height: 50%;
width: 400px;
padding: 1em;
border: 1px solid #CCC;
border-radius: 1em;
}
form div + div {
margin-top: 1em;
text-align: center;
}
label {
text-align: center;
width: 200px;
text-align: right;
color: white;
}
input, textarea {
font: 1em sans-serif;
width: 300px;
-moz-box-sizing: border-box;
box-sizing: border-box;
border: 1px solid #999;
}
input:focus, textarea:focus {
border-color: #000;
}
textarea {
vertical-align: top;
height: 5em;
resize: vertical;
}
.button {
        padding-left: 90px;
}
button {
margin-left: .5em;
}
#block {
background-color: black;
border-color: white;
height: 423px;
}
#div {
position: absolute;
left: 50%;
margin-left: -216px;
top: 95px;
}
#dive {
    position: absolute;
    left: 50%;
    margin-left: -302px;
}
/*ANIMATION*/
body, html {
margin: 0;
padding: 0;
width: 100%;
height: 100%;
overflow: hidden;
}
canvas {
width: 100%;
height: 100%;
background:#000;
cursor: pointer;
}

/*TITRE */


@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700,300);

body {
  font-family: 'Roboto', sans-serif;
}

.wrapper {
  position: relative;
  transform: translateY(-50%);
}
h2 {
  text-transform:uppercase;
  letter-spacing:1px;
  width:280px;
  position:relative;
}
h2:after {
  content:"";
  display: block;
  height: 80%;
  width: 100%;
  background: red;
  position: absolute;
  top:10px;left:-5px;
  z-index: -1;
  animation: monAnim 1s infinite ease-in-out alternate;
}
@keyframes monAnim {
  0%{transform: translateY(4px) translateX(-12px);}
  100%{transform: translateY(-12px) translateX(4px);}
}